
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
} 

body{
    width: 100%;
    height: auto;
    background-color: #E1FFBB; /*subject to change*/
    overflow-x: hidden ;
}

/* Scroll Bar Styling */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;  /*subject to change*/
}
::-webkit-scrollbar-thumb{
    background: #001A6E;  /*subject to change*/
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover{
    background: #148fa5; /*subject to change*/
} 

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

nav{
    width: 100%;
    height: 10vh;
    background-color: white;
}

section{
    width: 100%;
    min-height: 50vh;
    padding: 50px 0;
}

section .main-container{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    align-items: center;
}



.nav-container {
  width: 100%;
  padding: 12px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo img {
    height: 400px;  
    object-fit: cover;
    object-position: center 50px;
    justify-content: left;
}

.logo{
    color: #001A6E;
    font-size: 2rem;
    font-weight: bold;
}

.logo span{
    color: #001A6E; 
    text-shadow: 0 0 10px #0f3238; 
}



.nav-links a {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #001A6E;
  padding-bottom: 4px;
  margin-right: 50px;
  justify-content: right;
  
}


.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #0077cc;
  transition: width 0.3s ease;
  justify-content: right;
}

.nav-links a:hover::after {
  width: 100%;
}


.dropdown-menu {
  display: none;
  flex-direction: column;
  background: white;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #ccc;
}

.dropdown-menu a {
  padding: 12px 0;
  color: black;
  font-size: 18px;
}

.dropdown-menu .cancel {
  margin-top: 10px;
  font-size: 22px;
  cursor: pointer;
}


@media (max-width: 900px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: block;
  }
}


.layout {
  display: flex;
}


.sidebar {
  width: 260px;
  background: #0d2557;
  color: white;
  padding: 20px;
  height: 100vh;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.location-btn {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #1c3c7b;
  color: white;
  cursor: pointer;
}



.alert-bar {
  display: flex;
  margin: 10px 0;
}

.alert-bar .bar {
  flex: 1;
  height: 10px;
}

.low { background: yellow; }
.moderate { background: orange; }
.high { background: red; }

.alert-labels {
  display: flex;
  justify-content: space-between;
}


.warning-btn {
  width: 100%;
  padding: 12px;
  opacity: 0.2;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.yellow { background: #ffd32a; }
.orange { background: #ff8c00; }
.red { background: #ff3b30; }


.main-container {
  flex: 1;
  padding: 20px;
  background: #e9ffcf;
}

.map-box {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}


.yellow-dot {
  width: 12px;
  height: 12px;
  background: yellow;
  border-radius: 50%;
  display: inline-block;
}

.advisory-box {
  height: 250px;
  width: 100%;
  border-radius: 10px;
  background-color: #055505;
  opacity: 0.2;
  border: 1px solid black;
  overflow: hidden;
  margin-bottom: 20px;
}

.team {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.team-circle ul li{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 128px;
}

.team-circle .circle{
  width: 200px;
  height: 200px;
  background-color: gray;
  border-radius: 50%;
}